.header-dashboard {
    background: linear-gradient(90deg, #4074e8, #081467);
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header-dashboard-title, a{
  color: white;
  text-decoration: none;
}

.header-dashboard-title {
  color: white;
  opacity: 0.6;
}