.register-title {
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
  font-weight: 500;
}

.register-page {
  background: linear-gradient(90deg, #014ae6, #040e4f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-bottom: -100px;
}

.register-container {
  width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.register-form {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

input {
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.register-select {
  background-color: #f1f1f1;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 10px 5px;
}

.register-option {
  font-size: 16px;
}

.register-button {
  margin: 10px;
  width: 150px;
  margin: auto;
  margin-top: 40px;
  padding: 10px 25px;
  background: linear-gradient(90deg, #014ae6, #040e4f);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
