.footer-dashboard {
  background: linear-gradient(90deg, #014ae6, #040e4f);
  color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text {
  height: 20px;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  opacity: 0.4;
}
