.footer {
    background-color: #0f50b0;
    color: white;
    height: 100px;
    padding: 10px 0;
    width: 100%;
}

.footer-text {
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    

}
