.footer {
  background-color: #000;
  opacity: 0.4;
  color: white;
  height: 100px;
  width: 100%;
  
}

.footer-text {
  height: 20px;
  display: flex;
  justify-content: center;
  padding-top: 75px;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 55px;
  }

  .footer-text {
    margin: auto;
    width: 280px;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
  }
}
