.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.tasks-card {
  width: 600px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.tasks-card-header {
  background: linear-gradient(90deg, #014ae6, #040e4f);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tasks-card-title {
  font-weight: 500;
}

.tasks-card-button-container {
  display: flex;
  flex-direction: row;
}

.tasks-card-button {
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.tasks-card-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tasks-body-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ececec;
  padding: 15px 20px;
  font-size: 18px;
}

.tasks-card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 18px;
}

.tasks-card-description {
  height: 140px;
  border-bottom: solid 1px #f4f4f4;
}

.tasks-card-members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.tasks-card-subheading {
  margin-bottom: 5px;
}

.tasks-color-member {
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.tasks-card-dates {
  color: gray;
}

.tasks-card-status {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status-begin {
  background-color: rgb(95, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.status-ongoing {
  background-color: rgb(148, 96, 0);
  color: white;
  font-weight: 600;
}

.status-completed {
  background-color: rgb(0, 58, 0);
  color: white;
  font-weight: 600;
}

.tasks-card-status-select {
  padding: 20px;
  background-color: #f4f4f4;
  border: solid 1px #ececec;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .tasks-card-title {
    font-size: 16px;
  }

  .tasks-card-button {
    font-size: 15px;
  }

  .tasks-body-header {
    font-size: 16px;
  }

  .tasks-color-member {
    font-size: 12px;
  }

  .tasks-card-description {
    font-size: 14px;
  }

  .tasks-card-subheading {
    font-size: 16px;
  }

  .tasks-card-dates {
    font-size: 14px;
  }

  .tasks-card-status {
    font-size: 14px;
    padding: 10px;
  }

  .tasks-card-status-select {
    font-size: 14px;
    padding: 10px;
  }


}
