.footer-dashboard {
  background: linear-gradient(90deg, #4074e8, #081467);
  color: white;
  height: 100px;
  width: 100%;
}

.footer-text {
  height: 30px;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
